.tetris-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
}

.tetris-title {
  position: fixed;
  width: 100%;
  background-color: #F9F9F9;
  top: 35%;
  left: 47%;
  text-align: left;
  font-size: 50px;
  font-family: monospace;
  color: rgb(40,40,40);
  opacity: 0;
  line-height: 1.6em;
}

.fade-in {
  opacity: 1;
  transition: 0.1s;
}
