@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
.tetris-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
}

.tetris-title {
  letter-spacing: -0.1em;
  /* font-family: 'VT323', monospace; */
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
  z-index: 2;
  color: white;
  opacity: 0;
  font-size: 72px;
  margin: 0;
}

.tetris-title.fade-in, .tetris-video.fade-in {
  opacity: 1;
  transition: 1s;
}
