.ted-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.watchlist-title {
  position: fixed;
  top: 45%;
  left: 0;
  width: 100%;
  height: 600px;
  text-align: center;
  font-family: 'Crimson Pro', serif;
  font-size: 100px;
  color: rgb(455, 213, 0);
  text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff,
               3px 3px #fff, -3px -3px #fff, 3px -3px #fff, -3px 3px #fff;
  opacity: 0;
  font-weight: bold;
}

.watchlist-title.fade-in {
  opacity: 1;
  transition: 1s;
}

.watchlist-title.move-up {
  top: 30%;
  transition: 1s;
}